#qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 33px 0;
}

#Generate {
  background-color: #db4734;
  /* transition: height ease; */
  padding: 20px;
  border-radius: 2rem;
  color: white;
}

#button {
  background-color: rgb(58, 60, 192);
}

#error{
  color: white;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: center;
}

input{
  color: rgb(26, 26, 26) !important;
}

.d-none{
  display: none !important;
}


